body {
  padding: 50px;
  font-size: 14px;
  background-color: #f3f3f3;
}

a {
  color: #00b7ff;
}

#content {
  width: 800px;
  margin: 0 auto;
}

#room {
  padding: 20px;
  background-color: #108ee9;
  color: white;
  margin-bottom: 1em;
}

#messages {
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  /* border: 1px solid black; */
  border-radius: 4px;
  width: 690px;
  height: 300px;
  overflow: auto;
  background: white;
  margin-bottom: 1em;
  margin-right: 10px;
}

#room-list {
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background: white;
  border-radius: 4px;
  float: right;
  width: 100px;
  height: 300px;
  overflow: auto;
}

#room-list div {
  transition: all .3s;
  border-bottom: 1px solid #eee
}

#room-list div:hover {
  background-color: #ddd
}

#send-message {
  width: 685px;
  font-size: 20px;
  height: 30px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#help {
  font-size: 10px;
}

.pd20 {
  padding: 10px;
}